<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>
main harry ho
{{name}} is from {{place}}
<h1>Welcome to the text analyzer. Enter text below</h1>
<form action='/analyze' method="get">
    <textarea name="text" style='margin: 0px; width:721px; height: 93px'></textarea><br>
    <input type="checkbox" name="removepunc">Remove punctuations<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <input type="checkbox" name="newlineremove">New line remover<br>
    <input type="checkbox" name="extraspaceremover">Extra Space remover<br>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>